$title-font: "Gravitas One", system-ui, serif;
$text-color: #333;
$gunmetal: #2a3439;
$roseebony: #593936;
$card-bg: #bcaa99;
$page-bg: #e8e3dc;
$radius: 0.6rem;
$font: Gravitas one, Arial, Helvetica;
$liquorice: #1a1110;
$golden: #f6c57e;
$ink: #1a1110;
$adjust-color: "$golden: 5%";
$burly: #deb887;
$orange: #ff8800;
$white: #ffffff;
$black: #000000;
$egg-white: #e8e3dc;
$dark-ocean: #2a3439;
$autumn: #b34700;
$fall: #6a4211;
$pomegranate: #421424cc;
$greyworm: #fffcfc26;
$neon: #6d5ca166;
