@use "variables" as *;
@use "mixins" as *;
@use "sass:color";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 2rem;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
}

/* Headerbilden */
img.header-img,
.header-content img {
  width: 100%;
  height: clamp(220px, 28vw, 320px);
  object-fit: cover;
  display: block;
  margin-bottom: 2rem;
  border-radius: 0;
}

/* SÖK */
.search-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: 20px;
  justify-content: flex-end;
}

.search {
  --padding: 14px;
  width: 300px;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: var(--padding);
  border-radius: 20px;
  background: #f6f6f6;
  align-self: flex-end;
  margin-top: 8px;
  margin-left: 10px;
  height: auto;
  transition: box-shadow 0.25s;

  &:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  }

  .search-icon,
  .search-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}

.search-input {
  font-size: 14px;
  font-family: sans-serif;
  color: $text-color;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
  z-index: 1;
}

/* MENY */
nav {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 15px 0;

  @media (max-width: 600px) {
    padding: 20px 0;
  }
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0 0 12px;
  padding: 0;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  li a {
    text-decoration: none;
    color: burlywood;
    font-size: 18px;
    transition: color 0.3s ease;

    &:hover {
      color: #ff8800;
    }
  }
}

// PONTUS MAIN TEST//

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/hero-image.jpg");
  height: 40rem;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 1rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.hero-link a {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 0.6rem 1.4rem;
  color: black;
  background-color: #e8e3dc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    background-color: #2a3439;
    color: white;
  }
}

.event-img {
  display: flex;
  justify-content: center;
}

.event-img img {
  margin: 1rem;
  width: 70%;
  border: 5px solid rgb(106, 66, 17);
}

.highlight {
  position: absolute;
  left: 170px;
  top: 55%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 2;
  color: #b34700;
  border-right: 2px solid #b34700;
  animation: blink 0.8s infinite;
  font-size: 14px;
  white-space: nowrap;
}

.highlights-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.highlights-title h2 {
  font-size: 2.5rem;
  text-align: center;
}

.highlights-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.content-card {
  display: flex;
  align-items: center;
  background-color: #bcaa99;
  width: 100%;
  flex-direction: column;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.card-header {
  margin-top: 1rem;
  text-align: center;

  h2 {
    font-weight: 500;
    font-size: 2rem;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-img {
  display: flex;
  justify-content: center;

  img {
    margin: 1rem;
    width: 70%;
    border-radius: 50%;
    border: 5px solid rgb(106, 66, 17);
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 1rem 1rem;
  text-align: center;

  h3 {
    font-size: 1.5rem;
  }
}

.book-box {
  display: flex;
  align-items: center;
  background-color: #bcaa99;
  width: 100%;
  flex-direction: column;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.book-month {
  margin-top: 1rem;

  h2 {
    font-weight: 500;
    font-size: 2rem;
  }
}

.book-img {
  display: flex;
  flex-wrap: wrap;

  .book-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .event-img {
    width: 50%;
  }

  .hero-text {
    width: 40%;
  }

  .content-card,
  .book-box {
    width: 80%;
  }

  .card-body {
    flex-direction: row;
    align-items: center;
  }

  .card-img {
    width: 50%;
  }

  .card-text {
    width: 50%;
    padding: 1rem;
  }

  .book-img .book-info {
    width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .content-card,
  .book-box {
    width: 50%;
  }
}

/* FOOTER  */
#footer {
  display: flex;
  flex-direction: row; /* eller column om du vill stapla */
  justify-content: space-between; /* valfritt */
  justify-self: flex-end;
  align-items: center; /* centrerar innehållet vertikalt */
  background-color: $page-bg;
  color: rgb(2, 33, 23);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  // padding: 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border: 5px dotted $golden;
  border-radius: 70%;
  background-color: hsla(340, 53%, 17%, 0.796);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;

  img {
    width: 4rem;
    height: 4rem;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-end;
  padding-bottom: 0rem;
  border: 5px solid hotpink;
  margin-bottom: 2rem;
  margin-right: 2rem;

  h3 {
    padding-right: 0.5rem;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-top: 0.07rem;

  i {
    font-size: 25px;
    color: #cdb8fd;
    &:hover {
      color: aqua;
    }
  }
}

.letter {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;

  p {
    font-size: 1rem;
    align-self: start;
  }
}

#Submit {
  border: 3px solid $golden;
  border-radius: 6px;
  padding: 0.2rem;
  margin-left: 5px;
  font-size: 0.7rem;
  height: 2.2rem;
  text-align: center;
}

.Send {
  display: flex;
  align-items: center;
}

input[type="email"] {
  width: 21rem; /* bredden på fältet */
  height: 2.2rem;
  padding: 0.7rem 1rem;
  font-size: 0.7rem;
  border: 3px solid $golden;
  border-radius: 6px;
  background-color: rgba(255, 252, 252, 0.148);
  color: black;
  transition: all 0.25s ease;

  &::placeholder {
    color: #cdb8fd;
  }

  &:focus {
    outline: none;
    border-color: #6d5ca1;
    box-shadow: 0 0 5px rgba(109, 92, 161, 0.4);
    background-color: white;
  }

  &:hover {
    border-color: lighten(hotpink, 10%);
  }
}
